chave-*.txt
steamcmd/*.dll
steamcmd/*.dll.old
steamcmd/*.exe.old
steamcmd/*.vdf
steamcmd/appcache*
steamcmd/bin*
steamcmd/config*
steamcmd/depotcache*
steamcmd/logs*
steamcmd/pack*
steamcmd/public*
steamcmd/site*
steamcmd/.crash
steamcmd/steamapps*
steamcmd/userdata*
steamcmd/steamerrorreporter.exe
logs/*
config/steam.json
manager/_*
monitor/_*
servers/server1/*
servers/server2/*
__pycache__/
*.pyc
Codex.txt